<header>
  <div class="leftheader">
    <a class="navbar-brand" href="/">
      <img src="/images/logowithcomb.png" alt="home logo">
    </a>
  </div>
  <div class="centerheader">
    <!-- Content for center header if needed -->
  </div>
  <div class="rightheader">
    <!-- Flash messages -->
    {{#if flashMessages.success}}
      <div class="alert alert-success">
        {{flashMessages.success}}
      </div>
    {{/if}}
    {{#if flashMessages.error}}
      <div class="alert alert-danger">
        {{flashMessages.error}}
      </div>
    {{/if}}
    
    <!-- User greeting -->
    {{#if user.username}}
      <p>Hello, {{user.username}}!</p>
    {{/if}}

    <ul class="navbar-nav">
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/products">Honey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beekeeping">Beekeeping</a>
      </li>
    </ul>

    <!-- Cart icon with item count -->
    <div class="cart-container">
      <a href="/cart" class="cart-link">
        <img src="/images/cart.png" alt="Cart Icon" class="cart-icon">
        <span class="cart-count">{{cartItemCount}}</span>
      </a>
    </div>
  </div>
</header>

<link rel="stylesheet" href="/styles.css">




